<div class="background">
    <div class="container">
        <div class="row d-flex flex-column min-vh-100 justify-content-center align-items-center" >
            <div class="card shadow border-0 w-75">
                <div class="card-body my-4">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="../../assets/ReedGroup-Logo-SVG.svg" class="img-fluid w-50" alt="">
                        </div>
                        <div class="col-md-6">
                            <form [formGroup]="mainForm" (ngSubmit)="onSubmit()" >
                                <div class="mb-2">
                                    <label class="form-label">Username</label>
                                    <input class="form-control" type="text" formControlName="Email">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Password</label>
                                    <input class="form-control" type="password" formControlName="Password" autocomplete="off">
                                </div>
                                <div >
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-primary rounded-0 border-0" style="background-color: #00728d;">Sign In</button>
                                            <p class="d-inline ps-3">Create an account</p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
